@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;

}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;

}
h1,h2,h3,h4{
    font-family: 'Oswald', sans-serif;
}
.container {
    width: 1170px;
    margin: auto;
}
.nav {
    overflow: hidden;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    float: right;
    color: #3C3C3C;
    font-weight: 500;
    font-size: 16px;
    padding: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: hover 2s;
    display: flex;
}
header#topbar {
    background-color: #ddd;
    height: 50px;
}
nav li:hover a {
    color: #fb5200;
}
section#home-sec {
    padding-bottom: 10em;
}
.home-slider-1{
    display: grid;
    grid-template-columns: repeat(2, 510px);
    grid-column-gap: 150px;
    grid-row-gap: 50px;
    margin-top: 35px;
}
.slider img {
    width: 100%;
}
.slider h1 {
    font-size: 8.5rem;
    text-transform: uppercase;
    color: #363958;
    line-height: 11rem;
}

span.special-text {
    color: #FF8367;
}

h1 {}

.slider p {
    font-size: 1.8rem;
    color: #363958;
    margin-top: 1em;
    margin-bottom: 2em;
}

a.btn1 {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #FF8367;
    padding: 1em;
    width: 6em;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 0.3em;
    margin-top: 1.5em;
    font-weight: 500;
    transition:width 1s;
}
a.btn1:hover {
    background: linear-gradient(45deg, #8ed240, #FF9800);
    width:7em;
}
#right-slider h1 {
    font-size: 6rem;
    font-family: 'Oswald';
}

#right-slider p {
    text-align: justify;
    font-size: 1.6rem;
    margin-bottom: 1.5em;
}

a.link-btn {
    display: inline-block;
    padding: 1.2em;
    background: #FF8367;
    text-decoration: none;
    width: 8em;
    color: white;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 0.4em;
    transition: width 1s;
}
a.link-btn:hover {
    background: linear-gradient(45deg, #ada34b, #FF9800);
    width: 9em;
}
.btn2 {
    padding-right: .6em;
}
.protfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4em;
}
.single-box img {
    width: 100%;
}

.title {
    grid-column: 1/span 3;
}

.title h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 2em;
    margin-bottom: 2em;
    color: #363958;
}

span.box-title {
    color: #FF8367;
}

.single-box {
    box-sizing: border-box;
    padding: 2em;
    border-radius: 1.5em;
    background: white;
}

.single-box h1 {
    color: #363958;
    font-size: 2.2rem;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

.single-box p {
    color: #363958;
    font-size: 1.6rem;
}

#project {
    background: #E5E5E5;
    padding-bottom: 10em;
}
.inquiry-option{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    place-items: center;
}
#inquiry-img{
    background-image: url(images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 7.5em;
    box-sizing: border-box;
    margin-top: 9em;
}
.inquiry-title h1 {
    font-size: 7rem;
    text-transform: uppercase;
    color: white;
}

section#last-sec {
    padding-bottom: 9em;
}

a.last-btn {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    background: tomato;
    padding: .8em;
    display: inline-block;
    width: 5.5em;
    text-align: center;
    border-radius: .4em;
    font-weight: 500;
    transition: hover 1s ease;
}
a.last-btn:hover {
    background: linear-gradient(45deg, #bb5441f2, #c54c36);
}
.skills {
    display: grid;
    grid-template-rows:repeat(7, 1fr);
    grid-row-gap: 2em;
}
.skill-element {
    display: flex;
}

.left-width {
    flex: 90%;
    background: #616161;
}

.right-width {
    flex: 10%;
    background: #f1f1f1;
}

.left-width2 {
    flex: 80%;
    background: #616161;
}

.right-width2 {
    width: 20%;
    background: #f1f1f1;
}

.left-width3 {
    flex: 75%;
    background: #616161;
}

.right-width3 {
    flex: 25%;
    background: #f1f1f1;
}
section#skill-sec {
    background: #E5E5E5;
    padding-top: 6em;
    padding-bottom: 6em;
}

.skill-title p {
    font-size: 2.2rem;
    text-transform: capitalize;
    font-weight: 300;
}
#box-contant {
    grid-row: 1/span 2;
}

#box-contant p {
    font-size: 6em;
    font-weight: 200;
}

p.element-item {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 200;
    color: white;
}

footer#footer {
    background: #191919;
}

.footer-sec h3 {color: white;text-transform: uppercase;font-size: 2.5rem;text-align: center;}

ul.social-list {
    list-style: none;
    width: 365px;
    margin: auto;
}

ul.social-list li {
    float: left;
    padding: 2.5em;
}

ul.social-list li a {
    text-decoration: none;
    color: #ffffff80;
    text-transform: uppercase;
    font-size: 1.4rem;
    transition: 1s;
    display: inline-block;
}

.social-icon img {
    float: left;
    width: 50px;
    padding: 1em;
}

.social-icon {
    margin: auto;
    width: 210px;
}
.social-icon-wrraper {
    overflow: hidden;
}
h4#copyright {
    color: #ffffff80;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-top: 3.6em;
}

.footer-sec {
    overflow: hidden;
    padding-top: 8em;
}
ul.social-list li:hover a {
    color: white;
}
@media only screen and (max-width:776px) {
    html{
        font-size:45% ;
    }
}
@media only screen and (max-width:776px) {
    .container{
        max-width: 776px;
    }
    .home-slider-1{
        grid-template-columns: repeat(1, 550px);
        place-content: center;

    }
        .title {
            grid-column: 1/span 3;
        }
        .single-box{
            grid-column: 1/span 3;
            padding: 10em;
        }
        .protfolio{
            row-gap: 4.5em;
        }
        .skills{
            width: 80%;
            margin: auto;
        }
        .slider p{
            margin-bottom: 2em;
            text-align: justify;
        }
        .slider h1{
            font-size: 6.5rem;
        }
        nav ul li{
           width: 77.6em;
        }
        .nav ul li a {
           align-items: center;
        }
          
}

